/* TODO CSS-Reset? */

body{
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.maincenter{
	width: 1000px;
	margin: 0 auto;
}

.clearfloat{
	clear: both;
}

.template, #event_details {
	display: none;
}

.event {
	cursor: pointer;
}